<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Synopsis</title>
</head>
<body>
    <h1>Synopsis</h1>
    <h2>here is all the overall data for the spread of the years and what score recieved an offer</h2>
    <img src="{{ url_for('static', filename='synopsis/2017.png') }}" alt="Description of the image">
    <img src="{{ url_for('static', filename='synopsis/2019.png') }}" alt="Description of the image">
    <img src="{{ url_for('static', filename='synopsis/2021.png') }}" alt="Description of the image">
    <img src="{{ url_for('static', filename='synopsis/2023.png') }}" alt="Description of the image">
    <img src="{{ url_for('static', filename='synopsis/graph for offer holders.png') }}" alt="Description of the image">
    <h1>here are the score conversions for each year</h1>
    <h1>2017</h1>
    <img src="{{ url_for('static', filename='synopsis/2017score.png') }}" alt="Description of the image">
    <img src="{{ url_for('static', filename='synopsis/2017score2.png') }}" alt="Description of the image">
    <h1>2018</h1>
    <img src="{{ url_for('static', filename='synopsis/2018score.png') }}" alt="Description of the image">
    <img src="{{ url_for('static', filename='synopsis/2018score2.png') }}" alt="Description of the image">
    <h1>2019</h1>
    <img src="{{ url_for('static', filename='synopsis/2019score.png') }}" alt="Description of the image">
    <img src="{{ url_for('static', filename='synopsis/2019score2.png') }}" alt="Description of the image">
    <h1>2020</h1>
    <img src="{{ url_for('static', filename='synopsis/2020score.png') }}" alt="Description of the image">
    <img src="{{ url_for('static', filename='synopsis/2020score2.png') }}" alt="Description of the image">
    <h1>2021</h1>
    <img src="{{ url_for('static', filename='synopsis/2021score.png') }}" alt="Description of the image">
    <img src="{{ url_for('static', filename='synopsis/2021score2.png') }}" alt="Description of the image">
    <h1>2022</h1>
    <img src="{{ url_for('static', filename='synopsis/2022score.png') }}" alt="Description of the image">
    <img src="{{ url_for('static', filename='synopsis/2022score2.png') }}" alt="Description of the image">
</body>
</html>